<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pan.trade.common.rocketmq.PanProducer" id="panProducer">
        <property name="groupName" value="OrderProducerGroup"></property>
        <property name="namesrvAddr" value="192.168.136.128:9876"></property>
    </bean>

</beans>