<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="processor" class="com.pan.trade.common.rocketmq.TestProcessor"></bean>

    <bean class="com.pan.trade.common.rocketmq.PanPushConsumer" id="panPushConsumer">
        <property name="groupName" value="LorenConsumer"></property>
        <property name="topic" value="Pan-test"></property>
        <property name="namesrvAddr" value="192.168.136.128:9876"></property>
        <property name="processor" ref="processor"></property>
    </bean>

</beans>